eval "$(starship init zsh)"
{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh

antidote load