eval "$(starship init zsh)"

source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh

antidote load
{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}